<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1><%= t('new.coin') %></h1>

    <br>
    <%= render 'form', coin: @coin %>

    <%= link_to t('links.back'), coins_path, class:"btn btn-secondary" %>
  </div>
</div>
